/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
	font-family: 'Roboto-Regular';
	font-size: 100%;
	background: url(../images/m.png)repeat 0px 0px;

}
body a {
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	font-family: 'Roboto-Regular';
}
body a:hover,h5.top a:hover,.b-text h5 a:hover,.b-bottom-text h5 a:hover,.b-text h6 a:hover,.b-bottom-text h6 a:hover{
    color:#ffcc00;
	
}
@font-face {
   font-family: 'Roboto-Regular';
   src: url(../fonts/Roboto-Regular.ttf)format('truetype');
}
@font-face {
   font-family: 'Bitter-Regular';
   src: url(../fonts/Bitter-Regular.ttf)format('truetype');
}
a:hover{
 text-decoration:none;
}
input[type="button"],input[type="submit"],.port-grid ,.text p,.text h3{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
    font-family: 'Bitter-Regular';
 
}	
p{
	margin:0;
	    font-family: 'Roboto-Regular';
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
.logo a {
    display: block;
}
/*--header--*/
 .subhead {
		margin:0;
		padding:0px;
	}
	.subhead p:last-child {
		margin: 0;
	}
	.subhead a.button {
		display: inline-block;
		padding: 10px 20px;
		background: #ff0;
		color: #000;
		text-decoration: none;
	}
	.subhead a.button:hover {
		background: #000;
		color: #ff0;
	}
	.subhead.title {
		position: relative;
		background: #333;
	}
	.navbar-nav {
		float: left;
		margin: 0;
		margin-left: 13em;
	}
	.subhead.title h1 span.demo {
		display: inline-block;
		font-size: .5em;
		padding: 10px;
		background: #fff;
		color: #333;
		vertical-align: top;
	}
	.subhead.title .back-to-article {
		position: absolute;
		bottom: -20px;
		left: 20px;
	}
	.subhead.title .back-to-article a {
		padding: 10px 20px;
		background: #f60;
		color: #fff;
		text-decoration: none;
	}
	.subhead.title .back-to-article a:hover {
		background: #f90;
	}
	.content.title .back-to-article a i {
		margin-left: 5px;
	}
	.subhead.white {
	       background-color: #000008;
		padding: 1em 3em;
	}
	.subhead.black {
		background: #000;
	}
	.subhead.black p {
		color: #999;
	}
	.subhead.black p a {
		color: #08c;
	}
	.navbar {
		position: relative;
		min-height: 50px;
		margin-bottom: 0!important;
		border: 1px solid transparent;
	}
	.navbar-default {
    background:none!important;
    border:none!important;
    border-radius: 0;
	}
	.navbar-brand {
		float: left;
		padding: 7px 0 0 0!important;
		font-size: 18px;
		line-height: 0px!important;
		height: 0px!important;
		text-transform: uppercase;
	 }
	.navbar-default  a.navbar-brand h1{
		color: #ffcc00!important;
	    font-weight: bold;
	}
	.navbar-default .navbar-nav>li>a {
		color: #fff;
		font-size: 0.95em;
		font-weight: 400;
		font-family: 'Roboto', sans-serif;
	}
	.navbar-nav>li>a {
		padding-top: 18px;
		padding-bottom: 15px;
	}
	.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a.active {
	     color:#F5DD75!important;
	}
	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
		background-color:#ffcc00!important;
		color:#fff!important;
	}
   .navbar-default .navbar-brand span{
		color:#fff!important;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color:#34bf49!important;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color:#34bf49!important;
	}
	.navbar-toggle {
		position: relative;
		float: right;
		margin-right: 15px;
		padding: 9px 10px;
		margin-top: 8px;
		margin-bottom: 8px;
		background-color:#777!important;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 4px;
		-ms-border-radius: 4px;
		-o-border-radius: 4px;
		-webkit-border-radius: 4px;
	}
	.navbar-default .navbar-toggle {
		border-color: #202020;
	}
	.dropdown-menu .divider {
		height: 0;
		margin: 0;
		overflow:none;
		background: none;
	}
	.dropdown-menu .divider {
		border-bottom: 1px solid #E8E7EC;
		padding: 3px 0;
	}
	.main-content {
	    padding:4em 1em;
		background-color: #fff;
	}
	.dropdown-menu {
		min-width: 200px;
	}
	.dropdown-menu.columns-2 {
		min-width: 400px;
	}
	.dropdown-menu.columns-3 {
		min-width: 600px;
	}
	.dropdown-menu li a {
		padding: 5px 15px;
		font-weight: 300;
	}
	.multi-column-dropdown {
		list-style: none;
	}
	.multi-column-dropdown li a {
		display: block;
		clear: both;
		line-height: 1.428571429;
		color: #333;
		white-space: normal;
	}
	.multi-column-dropdown li a:hover {
		text-decoration: none;
		color: #EE5656;
		background: none;
	}
	
	@media (max-width:767px) {
		.dropdown-menu.multi-column {
			min-width: 240px !important;
			overflow-x: hidden;
		}
	}
	@media (max-width:640px) {
	.navbar-nav {
		float: none;
		margin: 0;
		margin-left: 0em;
	}
}
	@media (max-width: 480px) {
		.content {
			width: 90%;
			margin: 50px auto;
			padding: 10px;
		}
	}
/*--slider-css--*/
.banner{
	    background: url(../images/bannercurry.jpg)no-repeat 0px 0px;
     background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    -moz-background-size:cover;
    -ms-background-size:cover;
      min-height: 536px;
}
.mag-innert-left {
    background-color: #fff;
    padding: 1em 1em;
	    border: 1px solid rgba(231,231,231,1.00);
}
/*--banner-inner--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 82%;
    left: 0;
    opacity: 0.6;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    width: 52px;
    height: 52px;
    background: transparent url("../images/arrows3.png") no-repeat left top;
    margin-top:2%;
}
 .callbacks_nav:hover{
  	opacity: 0.5;
  }
  .callbacks_nav.next {
    left: auto;
    background-position: right top;
    left: 93.5%;
}
.callbacks_nav.prev {
    right: auto;
    background-position: left top;
    left:86.7%;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  }
.callbacks_tabs{
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    display: block;
	bottom: -9%;
    z-index: 0;
       right: 7%;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li{
  display: inline-block;
  margin: 0 .3em;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
       content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 14px;
    width: 14px;
    display: inline-block;
    background: #F38329;
    border: none;
    border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
}
.callbacks_here a:after{
  background:#ffcc00;
}
 .banner-info {
    text-align: right;
    padding: 1em 5em;
    float: right;
    width: 50%;
    margin-top: 4em;
}
.banner-info h3 {
    font-size: 3.0em;
    font-weight: 400;
    color: #000000;
    line-height: 1.6em;
}
.banner-info p{
    font-weight: 300;
    color: #950000;
    margin: 0.3em 0;
    font-size: 1em;
}
/*--main-content--*/
}
/******** SAP ************/
.sap_tabs{
	clear:both;
	font-style: normal;
	position:relative;
}
.facts {
    padding: 3em;
    text-align: center!important;
    background: url(../images/team_bg.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    min-height: 337px;
}
.top1{
	margin-top: 2%;
}
tr:nth-of-type(even) {
    background: #fff;
}
ul.resp-tabs-list {
	list-style: none;
	background:none;
	margin: 0em auto;
}
div#horizontalTab {
  background:#fff;
  }
.resp-tab-item{
	color:#000008;
    font-size: 15px;
  cursor: pointer;
  padding:20px 50px;
  display: inline-block;
  margin: 0;
 text-align: center;
  list-style: none;
 float: left;
  outline: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-transform: capitalize;
      font-weight: bold;
}
.resp-tab-item:hover {
	text-shadow: none;
}
.resp-tab-active,.resp-tab-item:hover {
	 background-color:#ffcc00;
	text-shadow: none;
}
.resp-tabs-container {
	padding: 0px;
	clear: left;
	background-color: #F4F4F4;
	border-top:none;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
h2.resp-accordion {
	font-size:1em;
	margin: 0px;
	padding: 10px 15px;
	background:#f77462;
	margin:10px 0;
	color:#fff;
}
h2.resp-accordion:hover{
	background:#6CC5D9;
	text-shadow: none;
	color: #FFF;
}
@media only screen and (max-width:480px) {
.sap_tabs{
	padding-top:0;
}
.resp-tabs-container{
	padding:10px;
}
ul.resp-tabs-list {
  	display: none;
}
h2.resp-accordion {
  	display: block;
}
.resp-vtabs .resp-tabs-container {
	border: none;
	float: none;
	width: 100%;
	min-height: initial;
	clear: none;
}
.resp-accordion-closed {
	display: none !important;
}
}
ul.tab_list{
	padding:0em;
	margin:0;
}
.tab_list1 {
    float: right;
    width: 70%;
}
.tab_list {
    float: left;
}
	table { 
		width: 100%; 
		border-collapse: collapse; 
	}
		#demo-top-bar {
		text-align: left;
		background: #222;
		position: relative;
		zoom: 1;
		width: 100% !important;
		z-index: 6000;
		padding: 20px 0 20px;
	}
	#demo-bar-inside {
		width: 960px;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
	}
	#demo-bar-buttons {
		padding-top: 10px;
		float: right;
	}
	#demo-bar-buttons a {
		font-size: 12px;
		margin-left: 20px;
		color: white;
		margin: 2px 0;
		text-decoration: none;
		font: 14px "Lucida Grande", Sans-Serif !important;
	}
	#demo-bar-buttons a:hover,
	#demo-bar-buttons a:focus {
		text-decoration: underline;
	}
	#demo-bar-badge {
		display: inline-block;
		width: 302px;
		padding: 0 !important;
		margin: 0 !important;
		background-color: transparent !important;
	}
	#demo-bar-badge a {
		display: block;
		width: 100%;
		height: 38px;
		border-radius: 0;
		bottom: auto;
		margin: 0;
		background: url(/images/examples-logo.png) no-repeat;
		background-size: 100%;
		overflow: hidden;
		text-indent: -9999px;
	}
	#demo-bar-badge:before, #demo-bar-badge:after {
		display: none !important;
	}
	/* Zebra striping */
	tr:nth-of-type(odd) { 
		background: #eee; 
	}
	th { 
		background:#000008;
		color:#ffcc00;
		font-weight: bold; 
		    border: none!important;
	}
	td, th { 
	     padding: 7px 7px;
    border: 1px solid #D6D4D4;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9em;
	}
	td.one {
      padding: 21px 40px;
   }
    td.two {
    padding: 20px 74px!important;
}
/******** //SAP ************/
h3.tittle,h2.tittle {
    color: #000008;
    text-transform: uppercase;
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
    font-weight: bold;
}
h3.tittle i,h2.tittle i {
    color: #fff;
    font-size: 1em;
    margin-right: 0.5em;
    vertical-align: baseline;
}
.tech-img {
    padding: 0;
}
/*--players--*/
/*--top--*/
.biseller-column img{
	margin-bottom:1em;
	width:100%;
}
.feets {
    padding: 4em 0;
	background: #F1DE92;
}
 #flexiselDemo3 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	    margin: 6% auto 4%;
}
.nbs-flexisel-item {
	float: left;
	margin:0px;
	padding:0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
	margin-top:10px;
	margin-bottom: 10px;
	max-width:250px;
	max-height:500px;
	
}
.grid-flex{
	margin:10px 0 20px 0;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	positon: relative;
}
.biseller-info {
	margin:1em 0 0 0; 
}
/*** Navigation ***/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width:37px;
	height:70px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
	margin-top:-1em;
}
.nbs-flexisel-nav-left {
  right: -1%;
  background: url(../images/arrows1.png) no-repeat -38px -0px;
}
.nbs-flexisel-nav-right {
 left: -1%;
  background: url(../images/arrows1.png) no-repeat 1px -0px;
}
li.nbs-flexisel-item {
 width:370px;
}
.players {
    padding: 3em 0 0 0;
}
/* Styles the thumbnail */
/*Eliminates padding, centers the thumbnail */
a.lightbox img {
width:100%;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
  border:4px solid #fff;
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
position: fixed;
top: -100%;
width: 100%;
background: rgba(0,0,0,.7);
width: 100%;
opacity: 0;
-webkit-transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-o-transition: opacity .5s ease-in-out;
transition: opacity .5s ease-in-out;
overflow: hidden;
z-index: 999;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
margin: auto;
position: absolute;
top: 0;
left:0;
right:0;
bottom: 0;
max-height: 0%;
max-width: 0%;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
box-sizing: border-box;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}
.lightbox-target img:hover{
	opacity: 0.5;
}
/* Styles the close link, adds the slide down transition */

a.lightbox-close {
display: block;
width:50px;
height:50px;
box-sizing: border-box;
background: white;
color: black;
text-decoration: none;
position: absolute;
top: -80px;
right: 0;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
opacity: 1;
top: 0;
bottom: 0;
left: 0%;
}

.lightbox-target:target img {
	    max-height: 67%;
    max-width: 19%;
}

.lightbox-target:target a.lightbox-close {
top: 0px;
}
a.lightbox img:hover { 
 background:#c0c0c0;
}
/*--video--*/
.video iframe {
    width: 100%;
    min-height: 400px;
	border:none;
	}
	h5.top a {
    line-height: 1.6em;
    text-transform: none;
    font-size: 1.05em;
    color: #777;
}
.top-text img {
    margin-bottom: 10px;
}
.top-news {
    padding: 2em 2em;
    background-color: #eee;
	    margin-bottom: 1.3em;
}
a.pp-title {
    font-size: 1em;
    color: #777;
    line-height: 1.6em;
}
.top-text {
    text-align: left;
	    margin: 1em 0;
}
.banner-slider {
    margin-top: 2em;
}
/*--timer--*/
.time-bg {
    background: url(../images/time.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    min-height: 406px;
    text-align: center;
	margin-top:3em;
}
p#demo {
    font-size: 3em;
    color: #fff;
}
.time-bg h4 {
    font-size: 3em;
    color: #fff;
    padding: 3em 0 0.5em 0;
}
.time-bg h4 span {
    color: #ffcc00;
}
.banner {
    background: url(../images/bannercurry.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    min-height: 536px;
}
a.news {
    color:#ffcc00;
    font-size: 1.6em;
}
a.news:hover{
  color:#F38329;
}
.blog-info {
    position: absolute;
    top:20%;
    background-color: rgba(2, 0, 8, 0.59);
    padding: 3em 3em;
    z-index: 999;
    right: 0;
    text-align: left;
}
.blog-info h3 {
    font-size:2em;
    font-weight: 400;
    color: #fff;
}
.bog_post_info.infoPost {
    margin-top: 1em;
}
.blog-info p {
    color: #fff;
    font-size:1em;
    margin-top: 0.5em;
}
.bog_post_info.infoPost > span + span {
    float: right;
}
span.likePost i, span.commentPost i {
       color: #ffcc00;
    margin-right: 0.5em;
}
.bog_post_info.infoPost > span + span {
    float: right;
}
.infoPost > span.commentPost {
    margin-right: 0;
    margin-left: 20px;
}
a.post_date {
       color: #ffcc00;
    font-size: 0.9em;
}
a.post_date:hover,span.likePost i:hover, span.commentPost i:hover {
 color: #fff;
}
span.likePost a,span.commentPost a {
    color: #fff;
}
.blogs,.blog-grid{
  position:relative;
}
.single-bottom {
    margin-top: 1em;
}

.blog-info.second,.blog-info.third {
    position: absolute;
    top:19%;
    background-color: rgba(2, 0, 8, 0.59);
    padding: 3em 3em;
    z-index: 999;
    right:0;
    text-align: left;
}
.blog-grid.two {
    margin-top: 2em;
}
 .blog-pagenat {
  text-align: center;
  margin-top: 3em;
}
.blog-pagenat ul li {
  display: inline-block;
  list-style:none;
}
.blog-pagenat ul li a {
      display: block;
    background:#000008;
    padding: 8px 1.1em;
    font-size: 0.9em;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    display: inline-block;
    margin-top: 1em;
    text-decoration: none;
    border: 1px solid #000008;
}
.blog-pagenat ul li a:hover {
  background:#ffcc00;
  color:#fff;
      border: 1px solid #ffcc00;
}
ul.share {
	margin: 2em 0 3em 0;
}
ul.social-share {
    float: left;
}
.single-middle {
   background: #f4f4f4;
    padding: 1.5em;
    margin: 2em 0;
}
ul.social-share li{
list-style:none;
display:inline-block;
}
ul.social-share li i,i.arrow,p.reply {
       background: url(../images/icons2.png)no-repeat -4px -3px;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 0 12px;
    vertical-align: middle;
}
ul.social-share li  i.tin:hover,ul.social-share li  i.message:hover,p.reply i:hover,i.arrow:hover,ul.social-share li i:hover{
  opacity:0.7;
}
ul.social-share li  i.tin{
	    background: url(../images/icons2.png)no-repeat -30px -3px;
}
ul.social-share li  i.message{
     background: url(../images/icons2.png)no-repeat -55px -3px;
}
i.arrow{
  background: url(../images/icons2.png)no-repeat -79px -3px;
    display: inline-block;
    float: right;
}
p.reply i{
      background: url(../images/icons2.png)no-repeat -4px -3px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 14px 0 0px;
}
.client {
	float:left;
	width:8%;
	margin-right:7%;
}
.client img {
	width:100%;
	border-radius:50%;
	-web-kit-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;	
}
.client-message {
	float:left;
	width:70%;
}
.blog-posts h3 {
    line-height: 1.5em;
    font-size: 2.1em;
    font-weight: 400;
}
.blog-posts iframe {
	width:100%;
	height:400px;
}
.client-message i.fa.fa-calendar {
	font-size: 10px;
	margin-right: 6px;
	vertical-align: baseline;
}
.response h4 {
    color: #000000;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 1.5em;
}
.single-bottom p{
    color:#777;
    font-size:1em;
    line-height: 1.9em;
    font-weight: 400;
}
.coment-form input[type="text"] {
    display: block;
    background: none;
    color: #999;
    border: 1px solid #BDBBBB;
    width: 70%;
    margin-bottom: 5px;
    outline: none;
    font-size: 13px;
    font-weight: 300;
    padding: 13px 15px;
}
.coment-form input[type="submit"] {
    background:#FFCC00;
    border: 1px solid #FFCC00;
    padding: .8em 0;
    width: 30%;
    margin-top: .5em;
    font-size: 15px;
    color: #fff;
    letter-spacing: 0.5px;
    outline: none;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.coment-form input[type="submit"] :hover{
background:#000008;
}
.coment-form input[type="email"] {
    background: none;
    color: #999;
    border: 1px solid #BDBBBB;
    width: 70%;
    margin-bottom: 5px;
    outline: none;
    font-size: 13px;
    font-weight: 300;
    padding: 13px 15px;
}
.coment-form textarea {
    background: none;
    color: #999;
    border: 1px solid #BDBBBB;
    width: 100%;
    display: block;
    height: 150px;
    outline: none;
    font-size: 13px;
    font-weight: 300;
    resize: none;
    padding: 13px 15px;
}
.coment-form h4 {
    color: #000000;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 1.5em;
}
/*--typo--*/
.form-control1{
  border: 1px solid #e0e0e0;
  padding: 5px 8px;
  color: #616161;
  background: #fff;
  box-shadow:none!important;
  width: 100%;
  font-size: 0.85em;
  font-weight: 300;
  height: 40px;
  border-radius: 0;
  -webkit-appearance: none;
  outline:none;
}
/*--right--*/
ul.stay {
background-color: #fff;
    padding:2em 2em;
       border: 1px solid rgba(231,231,231,1.00);
	}
.c5ab_social_counter ul li a {
    width: 100%;
    line-height: 18px;
    font-size: 18px;
    display: block;
    padding: 10px 15px;
    margin-bottom: 5px;
    color: white;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
span.text {
    font-size: 14px;
	color:#fff;
}
.c5-element-facebook,.c5-element-twitter,.c5-element-dribble,.c5-element-gg {
    background:#337ab7;
    padding:0.8em 1em;
  margin-bottom: 0.9em;
    list-style: none;
	cursor: pointer;
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
	
}
.c5-element-facebook:hover{
 background:#29689E;
}
.c5-element-twitter{
 background:#1dcaff;
}
.c5-element-twitter:hover{
background:#04A5E2;
}
.c5-element-gg{
background:#dd4b39;
}
.c5-element-gg:hover{
background:#DC3E2A;
}
.c5-element-dribble{
 background: #ea4c89;
}
.c5-element-dribble:hover {
    background: #E03979;
}
.c5-element-twitter h5,.c5-element-dribble h5,.c5-element-facebook h5,.c5-element-gg h5{
    font-size: 14px;
    color: #fff;
    margin-right: 1em;
    text-transform: uppercase;
	display:inline-block;
}
span.count {
    margin-right: 15px;
}
ul.f-icons li {
    list-style: none;
    display: inline-block;
	margin-right: 0.3em;
}
span.icon,span.icon1,span.icon2,span.icon3 {
  background: url(../images/icons.png) no-repeat 2px 2px;
    display: inline-block;
    height: 24px;
    width: 24px;
    vertical-align: sub;
    margin-right: 0.5em;
}
span.icon1{
     background: url(../images/icons.png) no-repeat -24px 2px;
 }
span.icon2{
    background: url(../images/icons.png) no-repeat -74px 2px;
 }
.soccer-right-part {
    padding-right: 0;
}
.soccer-left-part {
    padding-left: 0;
}
h4.side {
       background-color: #000008;
    padding: 0.8em 1em;
    color:#ffcc00!important;
    text-transform: uppercase;
    font-size: 1.1em;
    margin-bottom: 0.5em;
}
.modern {
   padding: 2em 2em 4em 2em;
    background: #eee;
}
/*** .content Class *********************/
.content{
	position: relative;
	height: 0px;
	margin-top: -1px;
	overflow:hidden;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.content h4{
	padding:8px 0 7px 15px;
}
.content h6{
	padding:8px 15px 10px 15px;
	margin:10px;
	border-top:1px solid #999999;
}
.content h6 i{
	padding:0 5px;
	font-size:10px;
}
.accordation_menu input:checked ~ div.content{
	height:300px;
	background:#f9f9f9;
}
/*** For Change Animation Effects ****/
.accordation_menu input:checked ~ .content p{       
	-webkit-animation: zoomIn .7s 1;
	animation: zoomIn .7s 1;
}
.accordation_menu input:checked ~ .content h6{       
	-webkit-animation: fadeIn 2s 1;
	animation: fadeIn 2s 1;
}
.accordation_menu a, .accordation_menu p{
}
.accordation_menu h4{
	color: #01C675;
	padding: 15px 0 15px 15px;
	font-size: 1.2em;
	font-weight: 600;            /*Main Color*/
}
.accordation_menu label{
	background: #F90;                         
	color:#fff;
	font-size:17px;
}
.accordation_menu label:hover{                 
	background: #202023;
    color: #FC0;
}
.accordation_menu input:checked + label,
.accordation_menu input:checked + label:hover{ 
	color: #ffcc00;
    font-size: 17px;
	background: #131315;
}
.list_vertical {
    margin: 1.4em 0;
    padding: 2em 2em 2em 2em;
    background: #eee;
}
.accordation_menu input {
    display: none;
		
}
.accordation_menu label {
   display: block;
    position: relative;
    padding: 16px 20px;
    height: 54px;
    cursor: pointer;
    z-index: 20;
    transition: background-color .7s;
    -webkit-transition: background-color .7s;
    -moz-transition: background-color .7s;
    -o-transition: background-color .7s;
    -ms-transition: background-color .7s;
    margin-bottom: 1px;
    border-bottom: 1px solid #222227;
    background: #000008;
	    text-transform: uppercase;
		 font-family:'Bitter-Regular';	
  font-weight:400;
		
}
.accordation_menu label :hover{
}
span.glyphicon.glyphicon-comment, span.glyphicon.glyphicon-eye-open, span.glyphicon.glyphicon-thumbs-up {
       font-size: 10px;
    margin: 0 4px 0 20px;
    color: #CCCBC6;
}
span.glyphicon.glyphicon-comment:hover, span.glyphicon.glyphicon-eye-open:hover, span.glyphicon.glyphicon-thumbs-up:hover,a.span_link{
 color:#000008;
}
.post-text p {
    color: #000008;
       padding-top: 0.5em;
    font-size: 0.9em;
}
a.pp-title {
      font-size: 1em;
      color: #777;
     line-height: 1.6em;
}
.post-img {
    float: left;
    width: 25%;
    margin-right: 3%;
}
.popular-post-grids {
    padding: 1em 0;
}
.post-text {
    float: left;
    width: 72%;
	    text-align: left;
}
.popular-post-grid {
    margin-bottom: 0.5em;
}
.media-left.response-text-left {
    float: left;
		width:19%;
}
.media-left.response-text-left img {
    border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
}
.post-img img {
    width: 73%;
}
a.pp-title:hover {
    color:#ffcc00;
}
.response-text-right p {
    font-size: 0.9em;
    margin: 0 0 1em;
    line-height: 2em;
    color: #AFAFAF;
}
.media-left.response-text-left a {
       color: #ffcc00;
    font-size: 1em;
    display: block;
    margin-top: 5px;
    text-align: center;
       margin-right: 47px;
}
.media-body.response-text-right ul li {
	    color: #ffcc00;
    font-size: 0.9em;
    display: inline-block;
    font-weight: bold;
}
.media-body.response-text-right ul li a{
       color: #000008;
    font-size: 1em;
    display: block;
    margin-top: 6px;
    margin-left: 2em;
}
.media-body.response-text-right ul li a:hover {
	color:#F90;
}
.response {
    padding: 1em;
}
.scrollbar{
	float: left;
	height:300px;
	width:100%;
	overflow-y: scroll;
}
.force-overflow
{
	min-height: 330px;
}
#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color:#fff;
}

#style-2::-webkit-scrollbar
{
	width:5px;
	background-color:#ffcc00;
}

#style-2::-webkit-scrollbar-thumb
{
	background-color:#ffcc00;
}
.response-text-right p {
        color: #777;
    font-size: 1em;
    margin: 0 0 1em;
}
.media-body.response-text-right {
    float:right;
	width:77%;
	text-align: left;
}
/*--about--*/
.banner.two {
    background: url(../images/bannercurry.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
       min-height: 173px;
}
.ab-inner h4 {
    font-size: 1.6em;
    text-transform: uppercase;
    color: #ffcc00;
}
.ab-inner p {
    color: #777;
    line-height: 1.8em;
    font-size: 1em;
    margin-top: 1em;
}
.coach-inner{
   padding: 0;
   width:49%;
   margin-right:1%;
   text-align:center;
}
.coach-inner p {
    color: #777;
    font-size: 1em;
    line-height: 1.8em;
    padding: 0 0.8em;
}
.coach {
    padding: 3em 0 0 0;
}
.coach-inner img {
    width: 100%;
}
.training {
    padding: 3em 0;
}
/*--gallery-starts--*/
.gallery{
}
.g-left  img{
	width:100%;
}
.gallery-top{
	text-align:center;
}
.g-left {
    padding: 0 5px;
    margin-bottom: 0.7em;
}
/* Common style */
.grid figure {
       position: relative;
    float: left;
    overflow: hidden;
    background: rgba(234, 209, 18, 0.92);
    text-align: center;
    cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h4{
    font-size: 1.2em;
	margin:0;
}
.grid figure h4 span {
	font-weight: 800;
}
.grid figure p {
	font-size: 68.5%;
	margin-top:3px;
}
/***** Oscar *****/
figure.effect-oscar {	
}
figure.effect-oscar img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}
figure.effect-oscar figcaption {
    padding:4em 2em;
    background: none;
    -webkit-transition: background-color 0.35s;
    transition: background-color 0.35s;
}
figure.effect-oscar figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 1px solid #fff;
	content: '';
}
figure.effect-oscar h2 {
	margin: 0;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	opacity: 0;
}
figure.effect-oscar figcaption::before,
figure.effect-oscar p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0);
	transform: scale(0);
}
figure.effect-oscar:hover h4 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	opacity: 1;
}
figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
figure.effect-oscar:hover figcaption {
	background-color: rgba(58,52,42,0);
}
figure.effect-oscar:hover img {
	opacity: 0.4;
}
/*--gallery-ends--*/
/*-- contact-page --*/
h3.tittle.find {
    margin-top: 2em;
}
.contact-form {
	margin-bottom: 3.5em;
}
p.your-para {
    color:#000008;
    font-size:1em;
    margin: 0 0 5px 0;
    font-weight:bold;
    text-transform: uppercase;
}
.contact-grid input[type="text"], .contact-grid textarea {
  width: 100%;
  padding:0.8em;
  margin: 0 0 0.8em 0;

  background: #fff;
  outline: none;
  border: 1px solid #DADADA;
  -webkit-appearance: none;
}
.contact-grid textarea {
  resize: none;
  min-height: 220px;
}
.contact-in{
 padding-left:0;
}
.contact-in h5{
    color:#ffcc00;
    font-size: 1.4em;
    margin: 0px 0 10px 0;
    line-height: 1.5em;
	    padding: 0;
}
p.para1{
 color: #777;
    font-size:1em;
    line-height: 1.9em;
}
address {
   width: 100%;
   color: #777;
  font-size:1em;
  line-height: 1.9em;
}
.contact-grid {
  padding-left: 0;
}
address  a {
 color: #777;
 font-size: 1em;
 line-height: 1.8em;
}
address  a:hover {
    color: #D00030;
}
.more-address b, strong{
         color: #000008!important;
}
.more-address{
    padding: 1em 0;
} 
abbr[title], abbr[data-original-title] {
    cursor: help;
    border-bottom: none!important;
    color: #444;
}
.send input[type="submit"] {
       background:#ffcc00;
    outline: none;
    font-size: 1em;
    margin: 16px 0px;
    border: none;
    padding: 0.6em 2em;
    color: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-transform: uppercase;
    -webkit-appearance: none;
}
.send input[type="submit"]:hover {
      background:#000008;
}
h3.tittle.find {
    margin-bottom: 1em;
}
.map {
	    margin-top: 1em;
}
.map iframe {
    height: 400px;
    border: none;
    width: 100%;
}
/*--footer--*/
.footer-section {
  background:#282828;
}
.editor-pics {
       margin-bottom: 0.7em;
}
.footer-grid h4 {
       font-size: 1.2em;
    text-transform: uppercase;
    color: #fff;
    padding: 0;
    margin-bottom: 1.5em;
    font-weight: bold;
}
.td-post-date {
    color:#ffcc00;
    font-size: 0.8em;
    margin: 0.5em 0;
}
.footer-grids{
   text-align: left;
}
.footer-grid {
    padding-left: 0;
	    padding: 2em 0;
}
.item-pic {
    padding: 0;
}
h5.inner {
    line-height:1.8em;
    font-size: 0.85em;
	    padding: 0;
}
h5.inner a{
  color: #9B9EA2;
}
h5.inner a:hover{
 color: #fff;
}
.footer-grid h4 span {
    color: #ffcc00;
}
.sign_up input[type="text"] {
    width: 100%;
    padding: 10px 10px;
    border: none;
    font-size: 0.9em;
    color: #202021;
    outline: none;
    background: #fff;
    font-weight: 400;
    border: 1px solid #bababa;
    margin: 5px 0;
}
.sign_up input[type="text"] {
    width: 100%;
   padding: 12px 10px;
    border: none;
    font-size: 0.9em;
    color: #202021;
    outline: none;
    background: #fff;
    font-weight: 400;
        border: 1px solid #FFFFFF;
    margin: 5px 0;
}
.sign_up input[type="submit"] {
    color: #fff;
    font-size: 0.875em;
    font-weight: 300;
    border: none;
    display: block;
    padding: 8px 30px;
    outline: none;
    background:#000008;
    text-transform: uppercase;
    margin-top: 0.5em;
}
.sign_up input[type="submit"]:hover {
    background:#282828;
}
.footer-grid.third {
    background-color: #ffcc00;
       padding: 2em 3em;
}
.footer-grid.third h4 span {
    color: #000;
}
p.sign {
    color: #fff;
    font-size: 0.9em;
    margin-bottom:0.5em;
}
	.multi-column-dropdown li a:hover {
		text-decoration: none;
		color: #ffcc00;
		background: none;
	}
/*--copyright--*/
.copyright{
  padding: 1.2em 1em;
  background:#000008;
  text-align:center;
}
.copyright p{
  color: #fff;
  font-size:0.9em;
}
.copyright p a{
   color:#ffcc00;
   margin: 0;
}
.copyright p a:hover{
 text-decoration:underline;
}
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
  width: 40px;
  height: 22px;
  border: none;
  text-indent: 100%;
  background: url(../images/move-top.png) no-repeat 0px 0px;
}
/*--Responsive--*/
@media (max-width:1440px){

}
@media (max-width:1366px){
	.navbar-nav {
		float: left;
		margin: 0;
		margin-left: 10em;
	}
}
@media (max-width:1280px){
	.banner-info h3 {
		font-size: 2.3em;
		line-height: 1.6em;
   }
   .banner-info {
		text-align: right;
		padding: 1em 4em;
		float: right;
		width: 50%;
		margin-top: 7em;
	}
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: 20px;
	}
	.navbar-nav {
		float: left;
		margin: 0;
		margin-left: 13em;
	}
	.subhead.white {
		padding: 1em 1em;
	}
	.navbar-default a.navbar-brand h1 {
		font-size: 1.8em;
		margin-top: 4px;
	}
	.callbacks_nav.prev {
		right: auto;
		background-position: left top;
		left: 86.4%;
	}
	.callbacks_tabs {
		bottom: -9%;
		right: 5.5%;
	}
	.banner {
		min-height: 515px;
	}
}
@media (max-width:1024px){
	.navbar-nav {
		float: left;
		margin: 0;
	    margin-left: 12em;
	}
	.banner-info h3 {
		font-size: 2em;
		line-height: 1.6em;
	}
	.banner {
		min-height: 465px;
	}
	.callbacks_tabs {
		bottom: -9%;
		right: 6.5%;
	}
	.subhead.white {
		    padding: 1em 1.5em;
	}
	.resp-tab-item {
		padding: 17px 33px;
	}
	.lightbox-target:target img {
		max-height: 67%;
		max-width: 29%;
	}
	td, th {
      padding: 11px 33px;
	}
	td.two {
		padding: 20px 39px!important;
	}
	td.one {
		padding: 5px 38px;
		font-size: 0.8em;
	}
	.list_vertical {
      margin: 1.2em 0;
      padding: 1em 1em 1em 1em;
	}
	a.pp-title,.ab-inner p {
      font-size: 0.9em;
	}
	.media-left.response-text-left img {
		width: 100%;
	}
	h3.tittle, h2.tittle {
		font-size: 1.8em;
		margin-bottom: 1em;
	}
	.blog-info {
		top: 8%;
		padding: 2em 4em;
		right: 0;
		width: 74%;
	}
	.callbacks_nav.prev {
		right: auto;
		background-position: left top;
		left: 82.4%;
	}
	.callbacks_nav.next {
		left: auto;
		background-position: right top;
		left: 91.5%;
	}
	.callbacks_nav {
		top: 82%;
		left: 0;
		opacity: 0.6;
		background: transparent url("../images/arrows3.png") no-repeat left top;
		margin-top: 0%;
	}
	.post-img {
		float: left;
		width: 25%;
		margin-right:0;
		margin-left: 3%;
	}
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: 10px;
	}
	.time-bg {
		min-height: 373px;
		margin-top:2em;
	}
	.time-bg h4 {
		font-size: 2.4em;
		padding: 3.5em 0 0.5em 0;
	}
	p#demo {
		font-size: 2em;
	}
	.footer-grid.third {
		padding: 2em 2em;
	}
	.coach-inner p {
		font-size: 0.9em;
		padding: 0 0.5em;
	}
	.coach-inner img {
		width: 100%;
		margin-bottom: 0.7em;
	}
	.ab-inner h4 {
      font-size: 1.5em;
	}
	td.one.duel {
		padding: 21px 38px;
		font-size: 0.8em;
	}
	.blog-info.second, .blog-info.third {
		top: 9%;
		padding: 3em 3em;
		z-index: 999;
		right: 0;
	}
	figure.effect-oscar figcaption {
       padding: 3em 1em;
	}
	figure.effect-oscar figcaption::before {
		position: absolute;
		top: 20px;
		right: 20px;
		bottom: 20px;
		left: 20px;
		border: 1px solid #fff;
		content: '';
	}
	.grid figure p {
		font-size: 62.5%;
		margin-top: 9px;
	}
	.grid figure h4 {
		font-size: 1.1em;
		margin: 0;
	}
	p.your-para {
      font-size: 0.9em
	}
	address,p.para1 {
     font-size: 0.9em;
	}
	.contact-in h5 {
		font-size: 1.3em;
		margin: 0px 0 10px 0;
		line-height: 1.5em;
	}
	.banner.two {
		min-height:142px;
   }
   .dropdown-menu.columns-2 {
		min-width: 273px;
	}
}
@media (max-width:991px){
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: 0px;
	}
	.navbar-nav {
    float: left;
    margin: 0;
    margin-left: 12em;
}
	.nav>li>a {
		position: relative;
		display: block;
		padding: 10px 12px;
	}
	.banner-info {
		text-align: right;
		padding: 1em 3em;
		float: right;
		width: 62%;
		margin-top: 5em;
	}
	.banner {
		min-height: 393px;
	}
	td, th {
		padding: 14px 38px;
	}
	td.one {
		padding: 21px 38px;
		font-size: 0.8em;
	}
	td.two {
		padding: 20px 61px!important;
	}
	.soccer-left-part {
		padding-left: 0;
		padding: 0;
		margin-bottom: 24em;
	}
	.soccer-right-part {
		width: 100%;
		padding: 0;
	}
	.callbacks_nav.next {
		left: auto;
		background-position: right top;
		left: 92.5%;
	}
	.callbacks_nav.prev {
		right: auto;
		background-position: left top;
		left: 85.1%;
	}
	.callbacks_nav {
		top: 82%;
		left: 0;
		opacity: 0.6;
		background: transparent url("../images/arrows3.png") no-repeat left top;
		margin-top: 1%;
	}
	.blog-info {
		top: 15%;
		padding: 2em 4em;
		right: 0;
		width: 74%;
	}
	.time-bg {
		min-height: 316px;
		margin-top: 2em;
	}
	.time-bg {
		min-height: 316px;
		margin-top: 2em;
	}
	p#demo {
		font-size: 1.8em;
	}
	.footer-grids {
    padding: 2em 0;
	}
	.footer-grid {
		padding-left: 0;
		padding: 0;
		    margin-bottom: 2em;
	}
	.nbs-flexisel-nav-right {
		left: 0%;
		background: url(../images/arrows1.png) no-repeat 1px -0px;
	}
	.nbs-flexisel-nav-left {
		right: 0.5%;
		background: url(../images/arrows1.png) no-repeat -38px -0px;
	}
	.banner-info h3 {
		font-size: 1.8em;
		line-height: 1.6em;
	}
	.coach-inner {
		padding: 0;
		width: 49%;
		margin-right: 1%;
		text-align: center;
		float: left;
	}
	.form-control1 {
		margin-bottom: 1em;
	}
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: 20px;
	}
		.navbar-default a.navbar-brand h1 {
		font-size: 1.6em;
		margin-top: 6px;
	}
	.contact-in {
		padding-left: 0;
		padding: 0;
	}
	.main-content {
       padding: 3em 1em;
	}
	.g-left {
		padding: 0 5px;
		margin-bottom: 0.7em;
		float: left;
		width: 33%;
	}
	.soccer-left-part {
		padding-left: 0;
		padding: 0;
		    margin-bottom: 24em;
	}
	.soccer-left-part.about {
		padding-left: 0;
		padding: 0;
		margin-bottom: 2em;
	}
	.soccer-left-part.blog {
		padding-left: 0;
		padding: 0;
		margin-bottom: 4em;
	}
	.blog-info.second, .blog-info.third {
		top: 15%;
		padding: 3em 3em;
		z-index: 999;
		right: 0;
	}
	.dropdown-menu.columns-2 {
		min-width: 256px;
	}
	.response-text-right p {
	  font-size:0.9em;
	}
		.navbar-default .navbar-toggle .icon-bar {
		background-color: #FC0;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #777!important;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #FC0!important;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none!important;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none!important;
	}
}
@media (max-width:800px){
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: 0px;
	}
}
@media (max-width:768px){
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: 0px;
	}
	td.one {
		padding: 21px 38px;
		font-size: 0.8em;
	}
	.banner {
		min-height: 371px;
	}
	.navbar-nav {
		float: left;
		margin: 0;
		margin-left: 13em;
	}
	.navbar-default a.navbar-brand h1 {
		font-size: 1.6em;
		margin-top: 6px;
	}
	.contact-in {
		padding-left: 0;
		padding: 0;
	}
	.main-content {
       padding: 3em 1em;
	}
	.g-left {
		padding: 0 5px;
		margin-bottom: 0.7em;
		float: left;
		width: 33%;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #FC0;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #777!important;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #FC0!important;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none!important;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none!important;
	}
	.multi-column-dropdown li a {
		display: block;
		clear: both;
		line-height: 1.428571429;
		color: #fff;
		white-space: normal;
	}
	.item-details {
		    float: right;
    width: 81%;
    padding: 0;
	}
}
@media (max-width:736px){
	td.one {
		padding: 12px 41px;
		font-size: 0.8em;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none!important;
		width: 100%;
		text-align: center;
		    background: #272729;
	}
	.navbar-nav {
    float: left;
    margin-left: 15em;
	}
}
@media (max-width:667px){
	.facts {
      padding: 2em;
	}
	td.one {
		padding: 14px 41px;
		font-size: 0.7em;
		text-align: center;
	}
	td.two {
		padding: 14px 73px!important;
	}
	td, th {
		padding: 15px 35px;
	}
	.media-left.response-text-left img {
		/* width: 299%; */
	}
	.single-bottom p{
	  font-size:0.9em;
	}
}
@media (max-width:640px){
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #fff;
	}
	.multi-column-dropdown li a:hover {
		text-decoration: none;
		color: #ffcc00;
		background: none;
	}
	td.one {
		padding: 11px 41px;
		font-size: 0.7em;
		text-align: center;
	}
	.resp-tab-item {
		padding: 16px 29px;
	}
	td, th {
		padding: 13px 34px;
	}
	h3.tittle, h2.tittle {
		font-size: 1.6em;
		margin-bottom: 1em;
	}
	.banner.two {
		min-height: 112px;
	}
	.map iframe {
		height: 350px;
		border: none;
		width: 100%;
	}
	.blog-info {
		top: 8%;
		padding: 2em 4em;
		right: 0;
		width: 74%;
	}
	.callbacks_nav.prev {
		right: auto;
		background-position: left top;
		left: 82.5%;
	}
	.callbacks_nav.next {
		left: auto;
		background-position: right top;
		left: 91.5%;
	}
	.blog-info.second, .blog-info.third {
		top: 8%;
		padding: 3em 3em;
		z-index: 999;
		right: 0;
	}
	.navbar-nav {
		float: none;
		margin: 0;
		margin-left: 0;
		text-align: center;
	}
	.media-left.response-text-left {
		float: left;
		width: 30%;
	}
	.media-body.response-text-right {
		float: right;
		width: 70%;
		text-align: left;
	}
	.navbar-default a.navbar-brand h1 {
		font-size: 1.6em;
		margin-top: 4px;
	}
	.subhead.white {
		padding: 0.8em 1em;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none!important;
		width: 100%;
		text-align: center;
	}
}
@media (max-width:600px){
	.blog-info.second, .blog-info.third {
		top: 8%;
		padding: 1em 2em;
		z-index: 999;
		right: 0;
		width: 97%;
	}
	.blog-info {
		top: 4%;
		padding: 1em 1em;
		right: 0;
		width: 98%;
	}
	.callbacks_nav {
		top: 82%;
		left: 0;
		opacity: 0.6;
		background: transparent url("../images/arrows3.png") no-repeat left top;
		margin-top: -36%;
	}
	.callbacks_nav.prev {
		right: auto;
		background-position: left top;
		left: 75.5%;
	}
	.callbacks_nav.next {
		left: auto;
		background-position: right top;
		left: 87.5%;
	}
	.blog-pagenat ul li a {
    padding: 8px 1em;
    font-size: 0.9em;
    margin-top: 0em;
	}
	.coment-form input[type="submit"] {
    background: #FFCC00;
    border: 1px solid #FFCC00;
    padding: .8em 0;
    width: 44%;
	}
	.soccer-left-part {
		padding-left: 0;
		padding: 0;
		margin-bottom: 16em;
	}
	.ab-inner h4 {
		font-size: 1.4em;
	}
}
@media (max-width:568px){
	td.one {
		padding: 11px 34px;
		font-size: 0.7em;
		text-align: center;
	}
	.resp-tab-item {
    font-size: 13px;
	}
	.resp-tab-item {
		color: #000008;
		font-size: 13px;
	}
	td, th {
		padding: 13px 23px;
	}
	.resp-tab-item {
		padding: 16px 23px;
	}
}
@media (max-width:480px){
	.blog-info.second, .blog-info.third {
		top: 8%;
		padding: 1em 2em;
		z-index: 999;
		right: 0;
		width: 97%;
	}
	.blog-info {
		top: 4%;
		padding: 1em 1em;
		right: 0;
		width: 98%;
	}
	.callbacks_nav.prev {
		right: auto;
		background-position: left top;
		left: 75.5%;
	}
	.callbacks_nav.next {
		left: auto;
		background-position: right top;
		left: 87.5%;
	}
	.callbacks_nav {
		top: 82%;
		left: 0;
		opacity: 0.6;
		background: transparent url("../images/arrows3.png") no-repeat left top;
		margin-top: -36%;
	}
	.g-left {
		padding: 0 5px;
		margin-bottom: 0.7em;
		float: left;
		width: 50%;
	}
	.grid figure h4 {
		font-size: 1em;
		margin: 0;
	}
	.item-details {
		float: right;
		width: 75%;
	}
	.banner-info {
		text-align: right;
		padding: 1em 2em;
		float: right;
		width:80%;
		margin-top:1em;
	}
	.banner {
		min-height: 260px;
	}
	.banner-info h3 {
		font-size: 1.6em;
		line-height: 1.6em;
	}
	h2.resp-accordion {
		font-size: 1em;
		margin: 0px;
		padding: 17px 15px;
		background: #FFCC00;
		margin: 10px 0;
		color: #fff;
	}
	.facts {
		padding: 0.5em 0.5em;
	}
	td.one {
		padding: 17px 23px;
		font-size: 0.7em;
		text-align: center;
	}
	td.two {
		padding: 19px 47px!important;
	}
	td, th {
		padding: 19px 19px;
	}
	h2.resp-accordion:hover {
		background: #000008;
	}
	.video iframe {
		width: 100%;
		min-height: 279px;
		border: none;
	}
	.time-bg h4 {
		font-size: 1.89em;
		padding: 2em 0 0.5em 0;
	}
	.time-bg {
		min-height: 211px;
		margin-top: 2em;
	}
	p#demo {
		font-size: 1.5em;
	}
	td.one.duel {
		padding: 9px 24px;
		font-size: 0.8em;
	}
	.ab-inner h4 {
		font-size: 1.3em;
	}
}
@media (max-width:414px){
	td.one {
		padding: 17px 16px;
		font-size: 0.7em;
		text-align: center;
	}
	td.two {
		padding: 24px 42px!important;
		font-size: 0.7em;
	}
	td, th {
		padding: 21px 17px;
		font-size: 0.7em;
	}
	.players {
		padding: 2em 0 0 0;
	}
	a.news {
		font-size: 1.2em;
		padding: 0;
	}
	.blog-info p {
		font-size: 0.85em;
		margin-top: 0;
	}
	.soccer-left-part {
		padding-left: 0;
		padding: 0;
		margin-bottom: 13em;
	}
	.content {
		width: 100%;
		margin:0px auto;
		padding: 10px;
	}
	.banner-info {
		text-align: right;
		padding: 1em 2em;
		float: right;
		width: 100%;
		margin-top:1em;
	}
	.banner-info h3 {
		font-size: 1.2em;
		line-height: 1.6em;
	}
	.banner {
		min-height: 183px;
	}
	.banner-info p {
		margin: 0.3em 0;
		font-size: 0.9em;
	}
	.callbacks_tabs a:after {
		height: 10px;
		width: 10px;
	}
	.callbacks_tabs li {
		display: inline-block;
		margin: 0 .0em;
	}
	.callbacks_tabs {
		bottom: -9%;
		right: 9%;
	}
	.coach-inner {
		padding: 0;
		width: 100%;
		margin-right: 0;
		text-align: center;
		float: left;
		margin-bottom: 1em;
	}
	.copyright p {
		font-size: 0.85em;
		line-height: 1.9em;
	}
	.banner.two {
		min-height: 71px;
	}
	.main-content {
		padding: 2em 1em;
	}
	.footer-grids {
		padding: 2em 0 0 0;
	}
	.response-text-right p {
		font-size: 0.85em;
	}
	.media-body.response-text-right {
		float: right;
		width: 100%;
		text-align: left;
	}
	.grid figure p {
		font-size: 52.5%;
		margin-top: 9px;
	}
	figure.effect-oscar figcaption {
		padding: 1.5em 1.1em;
	}
	h3.tittle, h2.tittle {
		font-size: 1.4em;
		margin-bottom: 1em;
	}
	.contact-in h5 {
      font-size: 1.1em;
	}
	.contact-grid textarea {
		resize: none;
		min-height: 152px;
	}
	h3.tittle.find {
		margin-top: 1em;
	}
}
@media (max-width:384px){
	td.one {
		padding: 1px 103px;
		font-size: 0.6em;
		text-align: center;
		display: block;
		border: none;
	}
	td.two {
		padding: 12px 61px!important;
		font-size: 0.7em;
		display: block;
		border: none;
	}
	td, th {
		padding: 21px 13px;
		font-size: 0.7em;
	}
	.video iframe {
		width: 100%;
		min-height: 171px;
		border: none;
	}
	.callbacks_nav {
		top: 82%;
		left: 0;
		opacity: 0.6;
		background: transparent url("../images/arrows3.png") no-repeat left top;
		margin-top: 9%;
	}
	.time-bg h4 {
		font-size: 1.4em;
		padding: 2em 0 0.5em 0;
	}
	.time-bg {
		min-height: 146px;
		margin-top: 2em;
	}
	p#demo {
		font-size: 1.1em;
	}
	.callbacks_tabs {
		bottom: -3%;
		right: 9%;
	}
	.banner-info {
		text-align: right;
		padding: 1em 2em;
		float: right;
		width: 100%;
		margin-top: 0em;
	}
	.coment-form h4 {
      font-size: 1.4em;
    }
	.coment-form input[type="text"],.coment-form input[type="email"] {
    width: 100%;
	}
	.coment-form input[type="submit"] {
		padding: .8em 0;
		width: 67%;
	}
	.media-body.response-text-right ul li {
    font-size: 0.7em;
	}
	a.pp-title, .ab-inner p {
		font-size: 0.85em;
	}
}
@media (max-width:375px){
	td.one {
		padding: 1px 103px;
		font-size: 0.6em;
		text-align: center;
		display: block;
		border: none;
	}
	td.two {
		padding: 12px 61px!important;
		font-size: 0.7em;
		display: block;
		border: none;
	}
	td, th {
		padding: 21px 13px;
		font-size: 0.7em;
	}
	.video iframe {
		width: 100%;
		min-height: 171px;
		border: none;
	}
	.callbacks_nav {
		top: 82%;
		left: 0;
		opacity: 0.6;
		background: transparent url("../images/arrows3.png") no-repeat left top;
		margin-top: 9%;
	}
	.time-bg h4 {
		font-size: 1.4em;
		padding: 2em 0 0.5em 0;
	}
	.time-bg {
		min-height: 146px;
		margin-top: 2em;
	}
	p#demo {
		font-size: 1.1em;
	}
	.callbacks_tabs {
		bottom: -3%;
		right: 9%;
	}
	.banner-info {
		text-align: right;
		padding: 1em 2em;
		float: right;
		width: 100%;
		margin-top: 0em;
	}
	.blog-pagenat ul li a {
		padding: 4px 0.6em;
		font-size: 0.65em;
		margin-top: 0em;
	}
	.map iframe {
		height: 211px;
		border: none;
		width: 100%;
	}

}
@media (max-width:320px){
	td.one {
		padding: 1px 73px;
		font-size: 0.6em;
		text-align: center;
		display: block;
		border: none;
	}
	.callbacks_nav.prev {
		right: auto;
		background-position: left top;
		left: 61.5%;
	}
	.callbacks_nav.next {
		left: auto;
		background-position: right top;
		left: 80.5%;
	}
	.blog-info {
		top: 0%;
		padding: 0em 0.5em;
		right: 0;
		width: 100%;
	}
	.bog_post_info.infoPost {
		margin-top: 0em;
	}
	.bog_post_info.infoPost {
		margin-top: 0em;
	}
	.owl-theme .owl-buttons {
		position: absolute;
		top: 6.3em;
		right: 0em;
	}
	.accordation_menu label {
    padding: 13px 20px;
    height: 46px;
    cursor: pointer;
    z-index: 20;
	}
	.navbar-default a.navbar-brand h1 {
		font-size: 1.3em;
    margin-top: 7px;
	}
	.banner-info h3 {		
		font-size: 1em;
		line-height: 1.6em;
	}
	h5.top a {
    line-height: 1.6em;
		text-transform: none;
		font-size: 0.9em;
		color: #777;
	}	
	.callbacks_tabs {
		bottom: -3%;
		right: 11.5%;
	}
	h3.tittle, h2.tittle {
		font-size: 1.3em;
		margin-bottom: 0.8em;
	}
	.divider {
		border-bottom:none!important;
		padding: 1px 0;
	}
	.banner {
		min-height: 157px;
	}
	td, th {
		padding: 22px 6px;
		font-size: 0.7em;
	}
	h2.resp-accordion {
		font-size: 1em;
		margin: 0px;
		padding: 14px 15px;
		margin: 7px 0;
	}
	.top-news,.modern,ul.stay {
      padding: 1em 1em;
	}
	.time-bg h4 {
		font-size: 1.2em;
		padding: 2em 0 0.5em 0;
	}
	.time-bg {
		min-height: 123px;
		margin-top: 2em;
	}
	p#demo {
		font-size: 1em;
	}
	h5.inner {
    line-height: 1.8em;
    font-size: 0.8em;
	}
	a.news {
    font-size: 1em;
    padding: 0;
	}
	.blog-info.second, .blog-info.third {
		top:0%;
		padding: 0.5em 0.5em;
		z-index: 999;
		right: 0;
		width: 100%;
	}
	a.post_date {
		font-size: 0.8em;
	}
	span.likePost a, span.commentPost a {
		color: #fff;
		font-size: 0.8em;
	}
	span.likePost i, span.commentPost i {
		color: #ffcc00;
		margin-right: 0.5em;
		font-size: 0.8em;
	}
	.blog-info p {
		font-size: 0.8em;
		margin-top: 0;
	}
	.blog-pagenat {
		text-align: center;
		margin-top: 4em;
	}
	.post-text p {
		padding-top: 0.5em;
		font-size: 0.6em;
	}
	.top-text p {
		font-size: 0.8em;
	}
	.c5-element-facebook, .c5-element-twitter, .c5-element-dribble, .c5-element-gg {
		padding: 0.7em 1em;
		margin-bottom: 0.6em;
	}
	.single-middle {
		padding: 0.5em 0.5em;
		margin: 1em 0;
	}
	ul.social-share li i, i.arrow, p.reply {
		margin: 0 3px;
	}
	.media-left.response-text-left {
		float: left;
		width: 58%;
	}
	.coment-form h4 {
		font-size: 1.2em;
		margin-bottom: 1.3em;
	}
	.modern {
		padding-bottom: 4em;
	}
	.g-left {
		padding: 0 5px;
		margin-bottom: 0.7em;
		float: left;
		width: 82%;
		margin-left: 8%;
	}
	.contact-in h5 {
		font-size: 0.95em;
	}
	.contact-grid input[type="text"], .contact-grid textarea {
        width: 100%;
        padding: 0.6em;
	}
	
}